@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	overflow-x: hidden;
  }
@layer base {
	.section {
		@apply container mx-auto py-24 px-6;
	}
	.animate-slide:hover {
		animation-play-state: paused;
	}
}

.boxShadow {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#slider-boxes {
	display: flex;
}

.slick-slide div {
	margin: 10px;
}
.custom-slider .slick-dots li button:before {
	color: #d93a70; /* Change to your desired color */
}

input::placeholder {
	color: #837a7a; /* Change color as desired */
	font-size: 14px; /* Adjust font size if needed */
}

textarea::placeholder {
	color: #837a7a; /* Change color as desired */
	font-size: 14px; /* Adjust font size if needed */
}
select {
	color: #000; /* Change color as desired */
	font-size: 14px; /* Adjust font size if needed */
}
checkbox {
	color: #000; /* Change color as desired */
	font-size: 12px; /* Adjust font size if needed */
}


/* text-[#BE185D] */


/* styles.module.css */
@keyframes bounce-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px); /* Adjust this value as needed */
  }
}

.bounce-horizontal {
  animation: bounce-horizontal 3s linear infinite;
}

